<!DOCTYPE html>
<html> 
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
		<meta charset="UTF-8">
		<title>housepresell管理后台-支付保证撤销详情</title>
		<link rel="stylesheet" type="text/css" href="../assets/element/css/element.css"/>
		<link rel="stylesheet" type="text/css" href="../css/detail.css"/>
		<style>
		</style>
	</head>
	<body>
		<div class="content-wrap" id="Empj_PaymentGuaranteeApplicationEditDiv">
			<div class="detail-title cs-mt-0">
				<h1 class="inline">基本信息</h1>
				
				<div class="inline title-btns"  v-show="showButton == true">
					<button class="btn btn-success" @click="add()">
						<img src="../image/detail_btn_ico_save.png" width="18">
						<span>保存</span>
					</button>
					<button class="btn btn-primary">
						<img src="../image/detail_btn_ico_submit.png" width="18">
						<span>提交</span>
					</button> 
				</div>
			</div>
			<!--基本信息开始-->
			<div class="cs-content detail-content">
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<span class="detail-text1">支付保证撤销申请单号：</span>
							<div class="detail-info6">
								<div class="detail-unEdit">
									<input type="text" v-model="eCodeOfTripleAgreement" class="form-control" disabled="disabled"/>
								</div>
							</div>
						</div>
						<div class="form-group">
							<span class="detail-text1">开发企业：</span>
							<div class="detail-info6">
								<div class="detail-unEdit">
									<input type="text" v-model="positionOfBuilding" class="form-control" disabled="disabled"/>
								</div>
							</div>
						</div>
						<div class="form-group">
							<span class="detail-text1">支付保证出具单位：</span>
							<div class="detail-info6">
								<div class="detail-unEdit">
									<input type="text" v-model="positionOfBuilding" class="form-control" disabled="disabled"/>
								</div>
							</div>
						</div> 
						
						<div class="form-group">
							<span class="detail-text1">撤销项目建设待支付承保金额（元）：</span>
							<div class="detail-info6">
								<div class="detail-unEdit">
									<input type="text" v-model="fundFromLoan" class="form-control" disabled="disabled"/>
								</div>
							</div>
						</div>
						<div class="form-group">
							<span class="detail-text1">操作日期：</span>
							<div class="detail-info6">
								<div class="detail-unEdit">
									<input type="text" v-model="unexpiredAmount" class="form-control" disabled="disabled"/>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-md-4">
						<div class="form-group">
							<span class="detail-text1">申请日期：</span>
							<div class="detail-info6">
								<div class="detail-unEdit">
									<input type="text" v-model="eCodeOfContractRecord" class="form-control" disabled="disabled"/>
								</div>
							</div>
						</div>
						<div class="form-group">
							<span class="detail-text1">项目名称：</span>
							<div class="detail-info6">
								<div class="detail-unEdit">
									<input type="text" v-model="theNameOfBuyer" class="form-control" disabled="disabled"/>
								</div>
							</div>
						</div>
						<div class="form-group">
							<span class="detail-text1">支付保证类型：</span>
							<div class="detail-info6">
								<div class="detail-unEdit">
									<input type="text" v-show="theNameOfBuyer == 1" value="银行支付保证" class="form-control" disabled="disabled" style="display: none;"/>
									<input type="text" v-show="theNameOfBuyer == 2" value="支付保险" class="form-control" disabled="disabled" style="display: none;"/>
									<input type="text" v-show="theNameOfBuyer == 3" value="支付担保" class="form-control" disabled="disabled"/>
								</div>
							</div>
						</div>
						<div class="form-group">
							<span class="detail-text1">撤销已落实支付保证金额（元）：</span>
							<div class="detail-info6">
								<div class="detail-unEdit">
									<input type="text" v-model="theNameOfCreditor" class="form-control" disabled="disabled"/>
								</div>
							</div>
						</div>
						<div class="form-group">
							<span class="detail-text1">审核人：</span>
							<div class="detail-info6">
								<div class="detail-unEdit">
									<input type="text" v-model="retainRightAmount" class="form-control" disabled="disabled"/>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<span class="detail-text1">支付保证申请单号：</span>
							<div class="detail-info6">
								<div class="detail-unEdit">
									<input type="text" class="form-control" disabled="disabled" />
								</div>
							</div>
						</div>
						<div class="form-group">
							<span class="detail-text1">支付保证单号：</span>
							<div class="detail-info6">
								<div class="detail-unEdit">
									<input type="text" class="form-control" disabled="disabled" />
								</div>
							</div>
						</div>
						<div class="form-group">
							<span class="detail-text1">撤销项目建设已实际支付金额（元）：</span>
							<div class="detail-info6">
								<div class="detail-unEdit">
									<input type="text" v-model="fundOfTripleAgreement" class="form-control" disabled="disabled"/>
								</div>
							</div>
						</div>
						<div class="form-group">
							<span class="detail-text1">操作人：</span>
							<div class="detail-info6">
								<div class="detail-unEdit">
									<input type="text" v-model="expiredAmount" class="form-control" disabled="disabled"/>
								</div>
							</div>
						</div>
						<div class="form-group">
							<span class="detail-text1">审核日期：</span>
							<div class="detail-info6">
								<div class="detail-unEdit">
									<input type="text" v-model="expiredAmount" class="form-control" disabled="disabled"/>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<span class="detail-text1">备注：</span>
							<div class="detail-info6">
								<div class="detail-edit">
									<textarea rows="3" class="form-control" placeholder="请输入备注"></textarea>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--基本信息结束-->
			<!--附件材料开始-->
			<div class="detail-title">
				<h1 class="inline">附件材料</h1>
			</div>
			<div class="cs-content ">
				<div class="detail-content">
				    <my-uploadcomponent :loaduploadlist="loadUploadList"  :showdelete ="showDelete"  ref="listenUploadData" :busitype="busiType"></my-uploadcomponent>
				</div>
			</div>
			<!--附件材料结束-->
			<!-- error modal -->
			<div class="modal fade" id="ed1Model" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog modal-del">
					<div class="modal-content">
						<div class="modal-body csm-body">
							<img src="../image/popup_ico_failure.png" class="pull-left"/>
							<div class="del-info">
								<div class="del-text1 font-bold">操作失败，请重试</div>
								<div class="del-text2">{{errMsg}}</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn foot-sure" data-dismiss="modal">
								确定
							</button>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal -->
			</div>
			
			<!-- success modal -->
			<div class="modal fade" id="sd1Model" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog modal-del">
					<div class="modal-content">
						<div class="modal-body csm-body">
							<img src="../image/popup_ico_succeed.png" class="pull-left"/>
							<div class="del-info">
								<div class="del-text1 font-bold">操作成功</div>
								<div class="del-text2">保存成功</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn foot-sure" data-dismiss="modal">
								确定
							</button>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal -->
			</div>
		</div>
		<script src="../components/vue-components.js"></script>
		
		<script src="../js/admin/empj/Empj_CancelPaymentGuaranteeApplicationEdit.js"></script>
	</body>
</html>	
