.pro-main{
	position: relative;
}
.pro-wrap{
	border: 1px solid #d8d8d8;
	padding: 10px;
	background: #fff;
	width: 350px;
	max-height: 95%;
	overflow-y: auto;
	position: absolute;
	top: 20px;
    left: 20px;
	z-index: 9;
}
.pro-search{
	border: 1px solid #d4d4d4;
	border-radius: 4px;
	padding: 10px 5px;
	width: 88%;
	display: inline-block;
}
.toggle-search{
	float: right;
	margin-top: 12px;
	margin-right: 5px;
	cursor: pointer;
}
.pro-input{
	border: none;
	vertical-align: middle;
	margin-left: 7px;
	outline: 0;
	width: 86%;
}
.pro-cont{
	margin: 13px 0;
}
.pro-total{
	padding-left: 10px;
	margin-bottom: 15px;
}
.pro-info{
	padding-left: 10px;
	margin-bottom: 20px;
}
.pro-t{
	font-size: 15px;
	color: #498fff;
	margin-bottom: 10px;
}
.pro-num,.pro-add{
	font-size: 13px;
}
.pro-num{
	margin-bottom: 5px;
}
/*big modal*/
.m-title{
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 10px;
}
.m-text1{
	color: #cc010c;
	margin-bottom: 6px;
	display: inline-block;
}
.map-madal{
	padding: 15px;
	background: #fff;
	box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.35);
	position: relative;
}
.infoBox img{
	display: none;
}
.map-madal img{
	display: block;
    position: absolute;
    bottom: -14px;
    left: 50%;
    margin-left: -13px;
}
.m-link{
	text-align: right;
}
.m-link a{
	font-size: 14px;
	color: #fff;
	background: #3385ff;
	padding: 5px 10px;
	border-radius: 4px;
}
.m-close{
	position: absolute;
    right: 5px;
    top: -6px;
    font-size: 30px;
    cursor: pointer;
}
