.detail-content{
	padding: 13px 15px;
}
/*寮�鍙戜紒涓氳鎯�-椤堕儴涓夊垪*/
.detail-title{
	margin-top: 15px;
	margin-bottom: 15px;
}
.detail-excel{
	margin-top: -9px;
}
.detail-btnR{
	margin-top: -5px;
}
.detail-title h1{
	font-size: 16px;
	font-weight: 600;
	vertical-align: middle;
	margin-top: 2px;
}
.title-btns{
	margin-left: 30px;
}
.title-btns button,.detai-btns button{
	margin-right: 7px;
}
.detail-text1,.detail-text2{
	float: left;
	display: inline-block;
	font-size: 14px;
	margin-top: 6px;
}
.detail-info1{
	width: 100%;
	padding-left: 115px;
	font-size: 14px;
}
.detail-info2{
	width: 100%;
	padding-left: 130px;
}
.cs-mt-0{
	margin-top: 0;
}
.cs-border{
	border-top: 1px solid #d8d8d8;
	padding-top: 10px;
    margin-top: 10px;
}
/*璇︽儏椤甸潰鏍规嵁瀛楁鐨勯暱搴︼紝璁剧疆padding锛屾ā鏉胯缃殑padding-left:120px鎹㈣ by:jianping.yao*/
.detail-info3{
	width: 100%;
	padding-left: 160px;
}
.detail-info4{
	width: 100%;
	padding-left: 168px;
}
/*鍚堜綔鍗忚/涓夋柟鍗忚detail  by:yan.shan*/
.detail-info5{
	width: 100%;
	padding-left: 140px;
}

.detail-info6{
	width: 100%;
	padding-left: 240px;
}
.detail-info7{
	width: 100%;
	padding-left: 184px;
}
.detail-info8{
	width: 100%;
	padding-left: 196px;
}
/*tgpf_FundAppropriated_AFAdd*/
.detail-bordertb{border-bottom:1px solid #e5e5e5;border-top:1px solid #e5e5e5;}
.detail-unEdit .form-control{
	/* background: transparent; */
	border: none;
	border-radius: 0;
	box-shadow:none;
	border-bottom: 1px solid #b4cbe7;
}
.detail-edit .form-control{
	/* background: #f1f1f1; */
}
.detail-edit, .detail-unEdit{
	position: relative;
}
.detail-edit .ico-date, .detail-unEdit .ico-date{
	position: absolute;
	top: 10px;
	right: 10px;
}
.cs-mb-0{
	margin-bottom: 0;
}
/*闄勪欢鏉愭枡*/
.attachments-wrap{
	padding-left: 100px;
}
.attachments1{
	position: relative;
	height: 150px;
	overflow:hidden;
	margin-bottom: 20px;
	border: 1px solid #d8d8d8;
}
.detail-content .ico-close{
	position: absolute;
	top: 0;
	right: 0px;
	cursor: pointer;
}
.detail-content .ico-up{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.detail-content .ico-input{
	font-size: 30px;
    position: absolute;
    right: 0;
    cursor: pointer;
    height: 150px;
    outline: 0;
    opacity: 0;
}
.detail-explain{
	color: #666666;
}
.attachments2{
	position: relative;
	overflow: hidden;
	display: inline-block;
}
.attachments2 .btn-selFile{
	background: transparent;
	color: #1D87F3;
	border: 1px solid #1d87f3;
	padding: 10px 30px;
}
.attachments2 input{
	font-size: 30px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    outline: 0;
    opacity: 0;
}
.file-item{
	font-size: 14px;
	margin-top: 10px;
	padding: 5px 10px;
	border-radius: 4px;
	width: 40%;
}
.fileM-item{
	width: 100%;
}
.file-item:hover{
	background: #e8f3fe;
}
.file-item span{
	margin-left: 6px;
}
.file-del{
	float: right;
	margin-top: 4px;
	display: none;
}
.file-item:hover .file-del{
	display: block;
}
/*涓氬姟闃熼暱璇︽儏椤甸潰鐨勬牱寮忎慨鏀�  Tgpf_DayEndBalancingDetail*/
.header{
	background-color: white;
	text-align:center;
}
.reconciliations{
	background-color: #FAE5E6;
	text-align:center;
}
/*闄勪欢涓婁紶*/
input[type=file]{
	display: none;
}
/*鑷畾涔夌綉閾跺鍏ユ寜閽�*/
.el-button--success,
.el-button--success:hover,
.el-button--success:active,
.el-button--success:visited,
.el-button--success:after,
.el-button--success:focus{
	color: #fff;
    background-color: #3b9c11;
    border-color: #3b9c11;
}
.upload-demo{
	display: inline-block;
}
.el-button--small{
	display: inline-block;
    /* padding: 6px 12px; */
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
/*缃戦摱瀵硅处銆佷笟鍔″璐︽ā鎬佹鏍峰紡*/
.loading{
    width: 150px;
    height: 8px;
    border-radius: 4px;
    margin: 0 auto;
    margin-top:20px;
    position: relative;
    background: #FAE4E5;
    overflow: hidden;
}
.loading span{
    display:block;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background: #B6232A;
    -webkit-animation: changePosition 4s linear infinite;
}
@-webkit-keyframes changePosition{
    0%{
        -webkit-transform: translate(-150px);
    }
    50%{
        -webkit-transform: translate(0);
    }
    100%{
        -webkit-transform: translate(150px);
    }
}
.model-tip{
    text-align: center;
    color: #B6232A;
    font-weight: bold;
    font-size: 18px;
    margin-top: 30px;	
}

/* 闄勪欢涓婁紶*/
.el-icon-close-tip{
     display:none;
}
img {    
     transform: scale(1);          /*鍥剧墖鍘熷澶у皬1鍊�*/
     transition: all ease 0.5s;    /*鍥剧墖鏀惧ぇ鎵�鐢ㄦ椂闂�*/
}
img.active {
    transform: scale(2.2);          /*鍥剧墖闇�瑕佹斁澶�3鍊�*/
    transition: all 0.5s;
}
img.active1 {     
    transform: scale(0.7);          /*鍥剧墖闇�瑕佺缉灏�0.3鍊�*/
    transition: all 0.5s;
} 
img.aa {
    transition: all 0.5s;
}
img.go {
    -webkit-transform:rotate(-90deg);
    transform:rotate(-90deg);
    transition: all 0.5s;
}
img.go1 {
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
    transition: all 0.5s;
}
img.go2 {
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
    transition: all 0.5s;
}
.pictureControl {
    z-index:9999999;
    width:100%;
    position:fixed; 
    bottom:50px;
    left:40.8%;
    display:inline-block;
}
.pictureControl>.bgImg {
    width:35px;
    height:35px;
    padding:5px;
    border-radius:50%;
    -moz-border-radius:50%;     
    -webkit-border-radius:50%;
    background:#ffffff;
    z-index:1;
    display:inline-block;
    cursor:pointer;
    margin:0 5px 0 5px;
}
.pictureControl>.bgImg>img {
    width:25px;
    height:25px;
    z-index:2;
}
.leftText {
	width:120px;
}


/* 涓婁竴鏉★紝涓嬩竴鏉�  by qian.wang */
.btnCommand {
    background:#ffffff;
    border:1px solid #000000;
    padding:5px 10px;
    margin-right:10px;
}
.commandBox {
    margin-left:450px;
}

/* 椤圭洰椋庨櫓璇勪及鏃ユ湡鑼冨洿鎺т欢 鏍峰紡 by qian.wang*/
.pro-input {
	width:220px;
}

/* 鍗曞厓缁存姢 鏍峰紡 by qian.wang */
.add_title {
	margin-top:13px;
}

.secretDog {
	position:absolute;
	height: 0;/*瑙ｅ喅锛岃鎯咃紝缂栬緫椤甸潰鐨勬寜閽儴鍒嗚瑕嗙洊锛屽鑷寸偣浜嗘寜閽殑鏂囧瓧閮ㄥ垎娌″弽搴�*/
}
th{
	border:1px solid gainsboro;
	border-right:none
}
th:last-child{
	border-right:1px solid gainsboro
}
td{
	border:1px solid gainsboro;
	border-right:none
}
td:last-child{
	border-right:1px solid gainsboro
}

/* bug975-鍒楄〃琛ㄥご鏍囬瀛椾綋澶у皬鏀逛负16 by qian.wang */
.cell {
	font-size:16px;
}
/* 鏂板淇敼椤甸潰甯︽湁妯＄硦鎼滅储鐨勪笅鎷夐�夋牱寮� */
.block .el-input__inner{
    background: #fff;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.has-gutter tr th{
    text-align:center
 }
 .required{
    color:red;vertical-align: top;float:left;position:absolute;left:-10px
 }
 .icon-normal{
     font-size: 20px;font-weight: bolder;vertical-align: middle;cursor: pointer;
 }